<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand fs-2" href="/products">Shippers</a>

    <!-- Toggler for small screens -->
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <!-- Navbar links -->
     
    <!-- <div class="" id="navbarScroll"> -->
      <ul class="navbar-nav me-auto my-1 my-lg-0 navbar">
        <% if (currentUser && currentUser.role === "seller") { %>
          <li class="nav-item new-product">
            <a class="nav-link fs-4 fw-bold text-primary border border-info " href="/products/new">Add New Product</a>
          </li>
        <% } %>
        <!-- <li class="nav-item">
          <a class="nav-link active" href="/products">Home</a>
        </li> -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Products
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Alien</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
      </ul>
    <!-- </div> -->

    <!-- Always visible items -->
    <div class="d-flex align-items-center">
      <% if (currentUser) { %>
        <a class="nav-link text-light fw-bold fst-italic me-3" href="/saved/<%= currentUser._id %>"><%= currentUser.username %></a>
        <a class="nav-link text-light me-3" href="/user/cart">
          <i class="fa-solid fa-cart-shopping"></i>
          <sup><span class="badge bg-danger"><%= currentUser.cart.length %></span></sup>
        </a>
        <a class="btn btn-outline-light me-3" href="/logout">Logout</a>
      <% } else { %>
        <a class="btn btn-outline-light" href="/login">Login</a>
      <% } %>
    </div>
  </div>
</nav>
