<% layout('layouts/boilerplate') %>
<%-include('partials/navbar')%>
<div class="alert alert danger" role="alert">
    <!-- see exact class from bootstrap in alerts in componenets -->
     <!-- to see working of this err give price in negative as price cant be ngaetive in db so our db will give error and taht error will be displayed here -->
    <%= err %>
</div>